
  .background::before {
    content: "";
    background-image: url("maxresdefault.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; 
  }

header {
    background-color: hsla(0, 85%, 73%, 0.164);
    backdrop-filter: blur(5px);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
    color: white;
    font-size: 30px;
 }

 .div1 {
    background-color: transparent;
    background-color: #fcfcfc00;
    backdrop-filter: blur(8px);
    border: 4px solid white;
    border-radius: 4px;
}

